@using BTCWebWallet.Controllers
@using BTCWebWallet.Helpers
@using BTCWebWallet.Models
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model WalletViewModel

<div class="card panel-primary">
    <div class="card-header">
        @Localizer["Addresses"]
        <span class="btn-group btn-group-sm">
            <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#addAddressModal">
                <i class="bi bi-plus"></i> @Localizer["AddNew"]
            </button>
            <button class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#addPrivKeyModal">
                <i class="bi bi-plus-circle"></i> @Localizer["AddPrivKey"]
            </button>            
        </span>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <th scope="col">@Localizer["Address"]</th>
                <th scope="col">@Localizer["Purpose"]</th>
                <th scope="col">@Localizer["Label"]</th>
                <th scope="col">@Localizer["Action"]</th>
            </thead>
            <tbody>
                @if (Model != null && Model.Addresses != null && Model.Addresses.Any())
                {
                    @foreach (var a in Model.Addresses)
                    {
                        <tr>
                            <td>
                                <span>@a.Key</span>
                                <br />
                                <span class="fw-lighter" id="priv_@a.Key"></span>
                            </td>
                            <td>@a.Purpose</td>
                            <td>@a.Label</td>
                            <td>
                                <div class="btn-group btn-group-sm">
                                    <button class="btn btn-sm btn-secondary"><i class="bi bi-qr-code"></i> @Localizer["Qr"]</button>
                                    <button class="btn btn-lg btn-info" onclick='DumpPrivKey("@a.Key");'><i class="bi bi-key"></i> @Localizer["PrivateKey"]</button>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>