@using BTCWebWallet.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Wallets"];
}

@model WalletsViewModel

@if (Model != null && Model.IsSuccess)
{
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h4>@Localizer["Wallets"]</h4>
            @if (Model.ListWallets != null)
            {
                <ul>
                    @foreach (var item in Model.ListWallets)
                    {
                        <li><a class="link-primary" href='@Url.ActionLink("Info", null, new { name = item })'>@item</a></li>
                    }
                </ul>
            }
            else
            {
                <p>@Localizer["NoWallet"]</p>
            }
        </div>
        <div class="col-md-6 col-sm-12">
            <h4>@Localizer["CreateWallet"]</h4>
            <form asp-action="Create" class="row g-3">

                <div class="col-12">
                    <label for="Walletname" class="form-label">@Localizer["Name"]</label>
                    <input name="Walletname" class="form-control" type="text" maxlength="16" required />
                    <small><i class="bi bi-info-circle"></i> @Localizer["WalletNameDesc"]</small>
                    <div class="invalid-feedback">
                        @Localizer["Required"]
                    </div>
                </div>

                <div class="col-12">
                    <label for="Passphrase" class="form-label">@Localizer["Passphrase"]</label>
                    <input id="Passphrase" name="Passphrase" class="form-control" type="password" maxlength="16" required />
                    <small><i class="bi bi-info-circle"></i> @Localizer["PassphraseDesc"]</small>
                    <div class="invalid-feedback">
                        @Localizer["Required"]
                    </div>
                </div>

                <div class="col-12">
                    <label for="Passphrase1" class="form-label">@Localizer["PassphraseAgain"]</label>
                    <input id="Passphrase1" name="Passphrase1" class="form-control" type="password" maxlength="16"
                    required />
                    <div class="invalid-feedback">
                        @Localizer["Required"]
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input" name="DisablePrivateKeys" type="checkbox" value="false" />
                        <label class="form-check-label" for="DisablePrivateKeys">@Localizer["DisablePrivateKeys"]</label>
                    </div>
                    <small><i class="bi bi-info-circle"></i> @Localizer["DisablePrivateKeysDesc"]</small>
                </div>

                <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input" name="Blank" type="checkbox" value="false" />
                        <label class="form-check-label" for="Blank">@Localizer["Blank"]</label>
                    </div>
                    <small><i class="bi bi-info-circle"></i> @Localizer["BlankDesc"]</small>
                </div>

                <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input" name="AvoidReuse" type="checkbox" value="false" />
                        <label class="form-check-label" for="AvoidReuse">@Localizer["AvoidReuse"]</label>
                    </div>
                    <small><i class="bi bi-info-circle"></i> @Localizer["AvoidReuseDesc"]</small>
                </div>

                <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input" name="Descriptors" type="checkbox" value="false" />
                        <label class="form-check-label" for="Descriptors">@Localizer["Descriptors"]</label>
                    </div>
                    <small><i class="bi bi-info-circle"></i> @Localizer["DescriptorsDesc"]</small>
                </div>

                <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input" name="LoadOnStartup" type="checkbox" value="true" checked />
                        <label class="form-check-label" for="LoadOnStartup">@Localizer["LoadOnStartup"]</label>
                    </div>
                    <small><i class="bi bi-info-circle"></i> @Localizer["LoadOnStartupDesc"]</small>
                </div>

                <input type="submit" class="btn btn-primary" value="@Localizer["Create"]" />
            </form>
        </div>
    </div>
}