@using BTCWebWallet.Controllers
@using BTCWebWallet.Helpers
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Wallet"] + " " + Model?.WalletInfo?.Walletname;
}

@model WalletViewModel

@if (Model != null && Model.IsSuccess)
{
    <h2> <a asp-action="Index">@Localizer["Wallets"]</a> > @Model.WalletInfo?.Walletname</h2>

    <div class="row">

        <div class="col-6 p-1">
            @await Html.PartialAsync("_WalletInfo", Model.WalletInfo)
        </div>

        <div class="col-6 p-1">
            <div class="card panel-primary">
                <div class="card-header">@Localizer["Balances"]</div>
                <div class="card-body">
                    <div class="row">
                        @if (Model.Balances != null && Model.Balances.Mine != null)
                        {
                            <div class="col-12">
                                <h4>@Localizer["Mine"]</h4>
                                <small class="text-muted"><i class="bi bi-info-circle"></i> @Localizer["MineDesc"]</small>
                            </div>
                            <div class="col-md-7 text-muted">
                                @Localizer["Trusted"]
                                <div class="small"><i class="bi bi-info-circle"></i> @Localizer["TrustedDesc"]</div>
                            </div>
                            <div class="col-md-5">@Model.Balances.Mine.Trusted</div>
                            <div class="col-md-7 text-muted">
                                @Localizer["Untrusted_pending"]
                                <div class="small"><i class="bi bi-info-circle"></i> @Localizer["Untrusted_pendingDesc"]</div>
                            </div>
                            <div class="col-md-5">@Model.Balances.Mine.Untrusted_pending</div>
                            <div class="col-md-7 text-muted">
                                @Localizer["Immarute"]
                                <div class="small"><i class="bi bi-info-circle"></i> @Localizer["ImmaruteDesc"]</div>
                            </div>
                            <div class="col-md-5">@Model.Balances.Mine.Immarute</div>
                            @if (Model?.WalletInfo?.Avoid_reuse == true)
                            {
                                <div class="col-md-7 text-muted">
                                    @Localizer["Used"]
                                    <div class="small"><i class="bi bi-info-circle"></i> @Localizer["UsedDesc"]</div>
                                </div>
                                <div class="col-md-5">@Model.Balances.Mine.Used</div>
                            }
                        }

                        @if (Model != null && Model.Balances != null && Model.Balances.Watchonly != null)
                        {
                            <div class="col-12">
                                <h4>@Localizer["Watchonly"]</h4>
                                <small class="text-muted"><i class="bi bi-info-circle"></i> @Localizer["WatchonlyDesc"]</small>
                            </div>
                            <div class="col-md-7 text-muted">
                                @Localizer["Trusted"]
                                <div class="small"><i class="bi bi-info-circle"></i> @Localizer["TrustedDesc"]</div>
                            </div>
                            <div class="col-md-5">@Model.Balances.Watchonly.Trusted</div>
                            <div class="col-md-7 text-muted">
                                @Localizer["Untrusted_pending"]
                                <div class="small"><i class="bi bi-info-circle"></i> @Localizer["Untrusted_pendingDesc"]</div>
                            </div>
                            <div class="col-md-5">@Model.Balances.Watchonly.Untrusted_pending</div>
                            <div class="col-md-7 text-muted">
                                @Localizer["Immarute"]
                                <div class="small"><i class="bi bi-info-circle"></i> @Localizer["ImmaruteDesc"]</div>
                            </div>
                            <div class="col-md-5">@Model.Balances.Watchonly.Immarute</div>
                        }

                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 p-1">
            <div class="card panel-primary">
                <div class="card-header">
                    @Localizer["Addresses"]
                    <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#addAddressModal">
                        <i class="bi bi-plus"></i> Add
                    </button>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <th scope="col">@Localizer["Address"]</th>
                            <th scope="col">@Localizer["Purpose"]</th>
                            <th scope="col">@Localizer["Action"]</th>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Addresses != null && Model.Addresses.Any())
                            {
                                @foreach (var a in Model.Addresses)
                                {
                                    <tr>
                                        <td>@a.Key</td>
                                        <td>@a.Value.Purpose</td>
                                        <td>
                                            <div class="btn-group btn-group-sm">
                                                <button class="btn btn-sm btn-secondary"><i class="bi bi-qr-code"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-6 p-1">
            <div class="card panel-primary">
                <div class="card-header">@Localizer["Transactions"]</div>
                <div class="card-body">
                    <div class="row">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="addAddressModal" tabindex="-1" aria-labelledby="addAddressModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addAddressModalLabel">@Localizer["AddNewAddress"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-1">
                    <label for="txtLabel" class="form-label">@Localizer["Label"]</label>
                    <input id="txtLabel" class="form-control" placeholder='@Localizer["EnterAlabel"]' />    
                </div>
                <div class="mb-1">
                    <label for="ddAddressType" class="form-label">@Localizer["Label"]</label>
                    <select id="ddAddressType" class="form-select" placeholder='@Localizer["EnterAlabel"]'>
                        <option value="legacy">legacy</option>
                        <option value="p2sh-segwit">p2sh-segwit</option>
                        <option value="bech32">bech32</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Localizer["Close"]</button>
                <button type="button" class="btn btn-primary" onclick="AddNewAddress();">@Localizer["Add"]</button>
            </div>
            </div>
        </div>
    </div>
}

@section scripts {
<script>
    function Unlock() {
        var passphrase = $("#passphrase").val();
        var name = "@Model?.WalletInfo?.Walletname";

        var controllerName = "Wallet";
        var actionName = "@nameof(WalletController.Unlock)";
        var url = `/${controllerName}/${actionName}`;
        var model = {
            passphrase: passphrase,
            name: name
        };

        $.post(url, model, "json")
            .done(function (result) {
                window.location.reload();
            });
    }

    function AddNewAddress() {
        var name = "@Model?.WalletInfo?.Walletname";
        var label = $("#txtLabel").val();
        var addresType = $("#ddAddressType").val();

        var controllerName = "Wallet";
        var actionName = "@nameof(WalletController.AddNewAddress)";
        var url = `/${controllerName}/${actionName}`;
        var model = {
            name: name,
            label: label,
            addresType: addresType
        };

        $.post(url, model, "json")
            .done(function (result) {
                window.location.reload();
            });
    }
</script>
}