@using System.Globalization
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using BTCWebWallet.Models
@using BTCWebWallet.Controllers
@using Microsoft.AspNetCore.Http
@using System.Text
@using Newtonsoft.Json

@inject IHttpContextAccessor HttpContextAccessor

@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BTCWebWallet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BTCWebWallet.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BTCWebWallet</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home"
                                asp-action="Index">@Localizer["Dashboard"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Wallet"
                                asp-action="Index">@Localizer["Wallets"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home"
                                asp-action="Privacy">@Localizer["Privacy"]</a>
                        </li>
                    </ul>
                    @* <partial name="_LoginPartial" /> *@
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            @await Html.PartialAsync("_SelectLanguage")
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home"
                                asp-action="Shutdown">@Localizer["Shutdown"]</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            <div>
                @{
                    T? GetSession<T>(string key) where T : class
                    {
                        
                        var bytes = HttpContextAccessor.HttpContext?.Session.Get(key);
                        if (bytes != null) 
                        {
                            var json = Encoding.UTF8.GetString(bytes);
                            T? obj = JsonConvert.DeserializeObject<T>(json);
                            return obj;
                        }
                        else 
                        {
                            return null;
                        }
                    }

                    var errors = GetSession<List<ErrorViewModel>>("Errors") ?? new List<ErrorViewModel>();
                    foreach (var error in errors)
                    {
                        if (error.Type == ErrorViewModel.ErrorType.PageError)
                        {
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                @Localizer[error.Message ?? string.Empty]
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
                            onclick="RemovePageError(@error.Code);"></button>
                            </div>
                        }
                        else if (error.Type == ErrorViewModel.ErrorType.RCPError) 
                        {
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <strong>@error.Code</strong> @Localizer[error.Message ?? string.Empty]
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
                            onclick="RemovePageError(@error.Code);"></button>
                            </div>
                        }
                    }
                }
            </div>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            &copy; 2022 - BTCWebWallet - <a asp-area="" asp-controller="Home"
                asp-action="Privacy">@Localizer["Privacy"]</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        function RemovePageError(code) {
            var controllerName = "Home";
            var actionName = "@nameof(BaseController.RemovePageError)";
            var url = `/${controllerName}/${actionName}`;
            var model = {
                code: code
            };
            $.post(url, model, "json")
                .done(function (result) {

                });
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>