@using Microsoft.AspNetCore.Mvc.Localization
@using BTCWebWallet.RPCClient

@inject IViewLocalizer Localizer

@model NetworkInfoResult

<div class="col">
    @if (Model != null)
    {
        <div class="card panel-default">
            <div class="card-header">@Localizer["NetworkStatus"]</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 text-muted">@Localizer["Version"]</div>
                    <div class="col-md-8">@Model.Version</div>
                    <div class="col-md-4 text-muted">@Localizer["SubVersion"]</div>
                    <div class="col-md-8">@Model.Subversion</div>
                    <div class="col-md-4 text-muted">@Localizer["ProtocolVersion"]</div>
                    <div class="col-md-8">@Model.Protocolversion</div>
                    <div class="col-md-4 text-muted">@Localizer["LocalServicesNames"]</div>
                    <div class="col-md-8">@(Model.Localservicesnames == null ? "" : string.Join(",", Model.Localservicesnames))</div>
                    <div class="col-md-4 text-muted">@Localizer["TimeOffset"]</div>
                    <div class="col-md-8">@Model.Timeoffset</div>
                    <div class="col-md-4 text-muted">@Localizer["RelayFee"]</div>
                    <div class="col-md-8">@Model.Relayfee.ToString("F8")</div>
                    <div class="col-md-4 text-muted">@Localizer["IncrementalFee"]</div>
                    <div class="col-md-8">@Model.Incrementalfee.ToString("F8")</div>
                    <div class="col-md-4 text-muted">@Localizer["LocalRelay"]</div>
                    <div class="col-md-8">
                        @if (Model.Localrelay)
                        {
                            <i class="bi bi-check-lg"></i>
                        }
                        else
                        {
                            <i class="bi bi-x-lg"></i>
                        }
                    </div>
                    <div class="col-md-4 text-muted">@Localizer["NetworkActive"]</div>
                    <div class="col-md-8">
                        @if (Model.Networkactive)
                        {
                            <i class="bi bi-check-lg"></i>
                        }
                        else 
                        {
                            <i class="bi bi-x-lg"></i>
                        }                            
                    </div>
                    <div class="col-md-4 text-muted">@Localizer["Connections"]</div>
                    <div class="col-md-8">
                        @if (Model.Connections)
                        {
                            <i class="bi bi-check-lg"></i>
                        }
                        else 
                        {
                            <i class="bi bi-x-lg"></i>
                        }
                    </div>
                    <div class="col-md-4 text-muted">@Localizer["InboundConnections"]</div>
                    <div class="col-md-8">
                        @if (Model.Connections_in)
                        {
                            <i class="bi bi-check-lg"></i>
                        }
                        else 
                        {
                            <i class="bi bi-x-lg"></i>
                        }                            
                    </div>
                    <div class="col-md-4 text-muted">@Localizer["OutboundConnections"]</div>
                    <div class="col-md-8">
                        @if (Model.Connections_out)
                        {
                            <i class="bi bi-check-lg"></i>
                        }
                        else
                        {
                            <i class="bi bi-x-lg"></i>
                        }                            
                    </div>
                    <div class="col-md-12">
                        <label for="tbl_network">@Localizer["Networks<"]/label>
                        @if (Model.Networks != null) 
                        {
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>@Localizer["Name"]</th>
                                        <th>@Localizer["Limited"]</th>
                                        <th>@Localizer["Reachable"]</th>
                                        <th>@Localizer["Proxy"]</th>
                                        <th>@Localizer["ProxyRandomizeCredentials"]</th>
                                    </tr>
                                </thead>
                                <tbody>
                                @foreach (var item in Model.Networks)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>
                                            @if (item.Limited)
                                            {
                                                <i class="bi bi-check-lg"></i>
                                            }
                                            else
                                            {
                                                <i class="bi bi-x-lg"></i>
                                            }
                                        </td>
                                        <td>
                                            @if (item.Reachable)
                                            {
                                                <i class="bi bi-check-lg"></i>
                                            }
                                            else
                                            {
                                                <i class="bi bi-x-lg"></i>
                                            }
                                        </td>
                                        <td>
                                            @item.Proxy
                                        </td>
                                        <td>
                                            @if (item.Proxy_randomize_credentials)
                                            {
                                                <i class="bi bi-check-lg"></i>
                                            }
                                            else
                                            {
                                                <i class="bi bi-x-lg"></i>
                                            }
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        }
                    </div>
                    <div class="col-md-4 text-muted">@Localizer["Warnings"]</div>
                    <div class="col-md-8">@Model.Warnings</div>
                </div>
            </div>
        </div>
    }
</div>